<%page expression_filter="h"/>
<%inherit file="main.html" />
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="home">
      <header>
        <div class="outer-wrapper">
          <div class="title">
            <div class="heading-group">
                <div class="js-hero hero-container">
                    <div class="hero-img-wrapper">
                        <div class="component-responsive-image">
                            <div class="component-responsive-image-size loaded">
                                <img alt="" src="/lms/static/images/767px.jpg.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="hero-content">
                        <h2 class="title">Access 2500+ Online Courses from 140 Institutions. Start Today!</h2>
                        <a href="/course" class="btn btn-blue">Find courses</a>
                    </div>
                </div>
            </div>
          </div>

          <%include file="index_promo_video.html" />
        </div>

      </header>
      <%include file="${courses_list}" />

    </section>
</main>

% if show_homepage_promo_video:
  <section id="video-modal" class="modal home-page-video-modal video-modal">
    <div class="inner-wrapper">
      <iframe title="YouTube Video" width="640" height="360" src="<iframe width="853" height="480" src="https://www.youtube.com/embed/SX4GXlBzF0I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" ></iframe>></iframe>
    </div>
  </section>
% endif

<%block name="js_extra">
   <script type="text/javascript">
      $(window).load(function() {
         if(getParameterByName('next')) {
              $('#login').trigger("click");
         }
      })
   </script>
</%block>

% if show_signup_immediately is not UNDEFINED:
  ## NOTE: This won't work in production, because anonymous views are cached, so it will
  ## show either with or without this extra js for 3 minutes at a time.
<script type="text/javascript">
  $(window).load(function() {$('#signup_action').trigger("click");});
</script>
% endif
<section id="container-fluid">
    <div class="row">
        <section class="highlighted-courses col-md-12">

          <header class="text-center header-tab">
            <h1>Featured Courses</h1>
          </header>
        </section>
</section>